body{
    background: url('Images/fundo.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body p{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.principal{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principal h1 {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.principal img {
    height: 30%;
    width: 30%;
}

.secundaria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secundaria p {
    text-align: justify;
    color: black;
    font-weight: bold;
}

.cabeçalho{
    margin-bottom: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: black;

}

.contagem {
    /* width: 300px;
    height: 70px;
    background-color: #ec1d1d;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; */
    /* width: 100vw;
    height: 100vh; */
    background: #6c7a8900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.numero {
    min-width: 20px;
    max-width: 55px;
    background-color: #ffffffb0;
    color: #000000;
    font-size: 27px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center;

}

.legenda {
    /* height: 25px; */
    line-height: 10px;
    font-size: 17px;
    font-weight: bold;
    background-color: #ffffffb0;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}